<h1> Write message </h1>


<!-- action="/restaurants/42/reviews" -->
<%= simple_form_for [@match, @message] do |f| %>
  <%= f.input :content %>
  <%= f.button :submit, "Update info", class: "btn btn-block" %>
<% end %>

