// Specific CSS for your home-page

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.bottom{
  position: absolute;
  bottom: 20px;
}

@mixin dark-overlay{
  &:after{
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;  // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.banner-content{
  display: flex;
  position: relative;
  z-index: 1;
  height: 80vh;
  background-image: url(background.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center top;
  @include dark-overlay;
}


.banner-content:after{
  background:rgba(0, 0, 0, 0.6);
}

.banner-title{
  width: 40%;
  h1 {
    color: white;
  }
  h2 {
    color: white;
    text-align: center;
  }
}

.top-feature{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E9322D;
  h3 {
    font-size: 24px;
    color: white;
  }
  p {
    color: white;
    width: 60%;
    font-size: 14px;
  }
}

.main-feature-left{
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  .left-picture{
    width: 50%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/755049/pexels-photo-755049.jpeg?cs=srgb&dl=adult-baby-boy-755049.jpg&fm=jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center top;
  }
  .right-description {
    padding: 20px;
    width: 50%;
    height: 100%;
    h4 {
      margin-top: 50px;
      font-size: 15px;
      text-align: left;
    }
  }
}
