// Specific CSS for your home-page
.container{
    position: relative;
    text-align: center;
    color: black;
}

.centered{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom{
  position: absolute;
  bottom: 20px;
}

