<div class="container" style="color: grey;">
  <div id="search-form-container">
    <div class="row">
      <div class="col-sm-12">
          <%= form_tag users_path, id:"search-form", method: :get do %>
          <div class="col-xs-10">
            <div class="form-group">
              <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Please choose your interests or city" %>
            </div>
          </div>
          <div class="col-xs-2">
            <%= submit_tag 'Search', name: nil, id: "search-button" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>

  <div id="search-container">
    <div class="row">
     <% @users.each do |user| %>
        <%= render 'shared/cascading-cards', user: user %>
     <% end %>
    </div>
  </div>
</div>

