

<div class="Username">
  <h1><%= @user.first_name %>´s Profile</h1>
</div>

<div class="container">

      <div class="user-profile-photo">
          <%= cl_image_tag @user.photo, height: 200, width: 200, crop: :fill, radius: 0%>


</div>
    <div class="btn-group" role="group">

    <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_path, class: "btn-sm-default" %>
      <% end %>
    </div>



</div>
 <div class="btn-group" role="group">
    <%= link_to "Back", :back, class: "btn-back" %>

    </div>

