<div class="container-fluid">
<div class="banner">
  <div class="banner-content">
    <div class="banner-title">
    <h1>Mumamigas</h1>
    <h2>Meet other mums, learn best practices and discover new baby friendly places around you!</h2>
      <div class="banner-button red-button hvr-bubble-float-top">
        <%= link_to "Get Matched To Other Mums", search_path %>
      </div>
    </div>

  </div>
</div>
<div class="lp-attention row">
  <h3>A huge community waiting for you</h3>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</div>
<div class="main-feature-left row">
  <div class="left-picture col-xs-12 col-sm-6"></div>
  <div class="right-description col-xs-12 col-sm-6">
    <h4>Main Feature Title</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>
<div class="main-feature-right row">
  <div class="left-description col-xs-12 col-sm-6">
    <h4>Main Feature Title</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  <div class="right-picture col-xs-12 col-sm-6"></div>
</div>
<div class="main-feature-left row">
  <div class="left-picture col-xs-12 col-sm-6"></div>
  <div class="right-description col-xs-12 col-sm-6">
    <h4>Main Feature Title</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>
<div class="lp-attention row">
  <h3>A huge community waiting for you</h3>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  <div class="cta-button white-button hvr-bubble-float-top-white">
    <%= link_to "Get Matched", search_path %>
  </div>
</div>
<div class="other-features-title row">
  <div class="container">
    <div class="section-title row">
      <h5>What Else Can I Find Inside?</h5>
    </div>
    <div class="other-features row">
      <div class="col-xs-12 col-sm-4">
        <div class="feature-card">
          <div class="icon"></div>
          <h5>Join activities</h5>
          <p>Attend or organize local meetups with other mums. Discover mums-kids friendly places around you.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-card">
          <div class="icon"></div>
          <h5>Connect Globally</h5>
          <p>You can chat with mums all over the world, or just in your neighbourhood, you choose.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-card">
          <div class="icon"></div>
          <h5>Feature Title</h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-card">
          <div class="icon"></div>
          <h5>Find good deals</h5>
          <p>Find good deals on opportunities for second hand products for your new baby.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-card">
            <div class="icon"></div>
            <h5>Feature Title</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-card">
            <div class="icon"></div>
            <h5>Feature Title</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

</div>

