<div class="container-full">
<div class="banner">
  <div class="banner-content">
    <div class="banner-title">
    <h1>Mumamigas</h1>
    <h2>Meet other mums, learn best practices and discover new baby friendly places around you!</h2>
     <%= link_to "Start now", search_path, class: "btn btn-danger btn-lg" %>
    </div>
  </div>
<div class="top-feature">
  <h3>A huge community waiting for you</h3>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>
<div class="main-feature-left">
  <div class="left-picture"></div>
  <div class="right-description">
    <h4>Main Feature Title</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>
<div class="main-feature-right">
  <div class="left-description">
    <h4>Main Feature Title</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  <div class="right-picture">
    <img src="https://images.pexels.com/photos/755049/pexels-photo-755049.jpeg?cs=srgb&dl=adult-baby-boy-755049.jpg&fm=jpg" alt="">
  </div>

</div>
<div class="cards-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="home-card">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <br>
             <h4> Connect with other mums</h4>
              <div class="cardhome-grow">
               <p>You can chat with mums all over the world, or just in your neighbourhood, you choose.
               </p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="home-card">
              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
              <br>
             <h4>Find good deals</h4>
              <div class="cardhome-grow">
              <p>Find good deals on opportunities for second hand products for your new baby.</p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="home-card">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              <br>
             <h4>Join activities</h4>
              <div class="cardhome-grow">
              <p>Attend or organize local meetups with other mums. Discover mums-kids friendly places around you.</p>
              </div>
            </div>
        </div>
    </div>
 </div>
</div>

</div>

