
<div class="banner">
  <div class="banner-content">
    <h1>Mumamigas</h1>
    <%=image_tag("background.jpg", style: "width: 250vh;
      height:150vh;") %>
    <p>Find other mums nearby</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <div class="welcome-content">
    <div class="big-logo-wrapper">
      <div class="big-logo blurrer">
      </div>
    </div>
    <br>
    <div class="blurrer">
    </div>
  </div>
</div>

