<div class="container" style="color: grey;">
  <div class="location-title-wrapper">
    <h1> Start connecting with other mums </h1>
  </div>

  <br>

<%=form_tag users_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by city or interest..." %>
  <% end %>
  <br>
</div>
</div>





