
<div class="col-xs-12 col-sm-6 full-padded">
      <div class="carduserpairing">
      <h3 style="padding: 20px 0 0 20px; display: flex; justify-content: center;"><%= @match.user.first_name %> & <%= @match.location.user.first_name %></h3>
       <div class = "cardimageuserpairing">
        <%= image_tag @match.user.photo.url, class: "style_image"   %>
        <%= image_tag @match.location.user.photo.url, class: "style_image"  %>
      </div>
    </div>
</div>
</div>

















