<%= simple_form_for [@match, @message] do |f| %>
    <div class="form-inputs">
      <%= f.input :content, :label => 'Your Message', :input_html => { :rows => 5 },required: true, placeholder:"Tell your CineFriend why you are excited to see the film and what time you would lik to meet in front of the theater." %>
    </div>










