<div class="follow">
  <% if current_user.following?(@user) %>
    <% current_user.stop_following(@user) %>
    <p> You are already friends with <%= @user.first_name %>
    <%= button_tag 'unfollow?', class: 'btn-btn-default' %></p>
  <% else %>
     <% current_user.follow(@user) %>
      <%= button_tag 'follow', class: 'btn btn-success' %>
  <% end %>
</div>
