<div class="follow">
  <% if current_user.following?(@user) %>
    <% current_user.stop_following(@user) %>
    <p> You are already following <%= @user.first_name %> - <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <%= link_to "Stop following her?", user_path, class: "btn-btn-default"%>
  <% else %>
     <% current_user.follow(@user)%>
     <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= link_to "Send a request to", user_path, class: "btn-btn-default"%>
   <%= @user.first_name %></p>
  <% end %>
</div>
