.flex-center-activities {
  display: flex;
  justify-content: space-around;
}

.activity-cascading-card {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: none;
  width: 250px;
}

.cascading-activity-card-body {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  z-index: 0;
  height: 300px;
  position: relative;
}

.activity-image {
  width: 140px;
  height: 140px;
}

.activity-bio {
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  word-wrap: break-word;
}

.activity-card-name {
  font-weight: bold;
  color: black;
  font-size: 18px;
  margin-top: 10px;
}

.activity-card-city {
  padding: 5px;
  color: #2bbcec;
  font-weight: bold;
  font-size: 14px;
}

.activity-card-icons {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
