.avatar-small {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar-normal {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.avatar-large {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
