.cascading-card {
  position: relative;
  display: flex;
  justify-content: center;
}

.cascading-card-link {

}

// IMAGE
.cascading-card-image {
  width: 100%;
  height: 250px;
}


// BODY
.cascading-card-body {

}


.cascading-card-name {

}

.cascading-card-city {

}


// ICONS
.cascading-card-icons {

}

.card-icons-children-count {

}

.card-icons-pregnancy-months {

}

.card-icons-shopping-items {

}
