#search-form {
  width: 100%
}

.search-page-top {
  display: flex;
}

#search-form-container {
  margin-top: 20px;
}

#search-container {
  margin-top: 10px;
}

#search-button {
  width: 99px;
  height: 38px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white;
  background-color: #2bbced;
  font-size: 12px;
}
