.profile-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.profile-banner {
  width: 100%;
  height: 30vh;
  background-color: lightgrey;
}


.avatar-user-show {
  margin-top: -50px;
}
