<div class="footer">

    <p>Mumamigas <br> About Us | FAQs | Terms of Service | <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
    </p>
  </div>
</div>
