<div class="footer" style= "bottom: 0px; position: fixed;">
    <br>Mumamigas
    <p>About Us | FAQs | Terms of Service | <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
    </p>
  </div>
</div>
